


:root{
    --menu_h: 55px;
}

body, html{
    padding:0;
    margin:0;
    overflow:hidden;
}



.head{
    padding-top:25px;
    display:block;
/*    background:#637b9c;*/
    background:white;
/*    background:#eee;*/
/*    background:#f7f5f2;*/
/*    background:#73795e;*/
    position:relative;
    width:100%;
    overflow:hidden;
    height:var(--menu_h);
    color:black;
    color:#656565;
    color:#404040;
/*    color:white; */
/*    color:#866644;*/
/*    border-bottom:1px solid #a2866261;*/
/*    border-bottom:1px solid #65656547;*/
    border-bottom:0.5px solid #6565658a;
/*    border-bottom:1px solid #d87107d1;*/
/*    border-bottom:1px solid #b96c2aab;*/
    z-index:2;
    position:relative;

/*    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);*/
/*    box-shadow:0 0 10px 0px rgba(0,0,0,0.15);*/
    box-shadow:0 0 10px 0px rgba(0,0,0,0.1);


/*background:#828996;*/
/*color:white;*/
    

}


.bottom{
    position:absolute;
    bottom:0;
    height:35px;
    background:white;
    width:100%;
    border-top:0.5px solid #6565658a;
/*    box-shadow:0 0 10px 0px rgba(0,0,0,0.1);*/
    line-height:37px;
    font-family: 'Josefin Slab', serif;
/*    padding:0 30px;*/
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color:#404040;
    color:black;
    
    opacity:0.65;

    
    
/*        font-family: 'Scope One', serif;*/
/*        font-family: 'Pompiere', cursive;*/
/*    font-family: 'Muli', sans-serif;*/
/*    font-family: 'Waiting for the Sunrise', cursive;*/
    
/*    font-family: 'Amatic SC', cursive;*/
    
/*    background:#828996;*/
/*    color:white;*/

}
.number{
    position:absolute;
    right:40px;
    color:inherit;
    
}
.mail{
    position:absolute;
    right:180px;
    color:inherit;
}
.mail:hover, .number:hover{
    color:#d64800;
}

.icons{
    height:100%;
/*    padding:30px;*/
    position:absolute;
/*    top:50%;*/
    left:30px;
    line-height:38px;
    font-size:18px;

}
.icon{
    padding:0 5px;
    cursor:pointer;
}

.icon:hover{
/*    color:#dc6c25;*/
    color:#d64800;
}


.middle{
    position:relative;
    height:calc(100% - 80px);
/*    background:#eee;*/
}
.album{
    position:relative;
    height:100%;
/*    overflow:hidden;*/
}

.picture{
    /*    width:90%;*/
    width:100%;
    height:100%;
    object-fit: cover;
    /*min-height:100%;*/
    height:calc(100% - 35px);

/*    min-width:100%*/
/*    min-height:100%;*/
    margin:0 auto;
/*    margin-top:-200px;*/
/*    display:block;*/
    position:absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, 0);    
    opacity: 0;
    box-shadow:0 0 10px 0px rgba(0,0,0,0.15);
/*    position:relative;*/
/*    z-index:-1;*/
    transition: opacity 2s ease-in-out;

}
.currentpic{
    opacity:1;
}

#menuitemsB{
    position:absolute;
    /*    right:10%;*/
    right:20px;
    height:100%;
    margin:0px;
    padding:0px;
/*    top:0;*/
}


.name{
    cursor:pointer;
    position:absolute;
    left:30px;
/*    left:10%;*/
    height:100%;
    line-height:var(--menu_h);
    font-family: 'PT Sans', sans-serif;
/*    color:#2c5233;*/
/*    color:#866644;*/
/*    line-height:55px;*/
    line-height:calc(var(--menu_h) - 8px);
/*    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);*/
    transition: color 0.2s ease-in-out;

}

.name:hover{
    /*        opacity:0.65;*/
/*    color:#ca5106;*/
    color:#cc6d17;
    color:#e6a015;
    color:#d26716;
    color:#f37517;
    color:#dc6c25;


}


.name .title{
    font-family: 'Josefin Slab', serif;
/*    font-family: 'Scope One', serif;*/
/*    font-family: 'Pompiere', cursive;*/
/*font-family: 'Muli', sans-serif;*/
/*font-family: 'Waiting for the Sunrise', cursive;*/

/*font-family: 'Amatic SC', cursive;*/
/*font-family: 'Waiting for the Sunrise', cursive;*/

    letter-spacing: -1px;
    font-size: 30px;
    padding-right:15px;
}

.name .subtitle{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Waiting for the Sunrise', cursive;
/*    font-family: 'Amatic SC', cursive;*/

/*    line-height:50px;*/
/*    text-transform: uppercase;*/


    font-size: 20px;
    letter-spacing: 3px;
    color:#dc6c25;
/*    color:#d26622;*/
}


.item{
/*    color:#866644;*/

    position:relative;
    cursor:pointer;
/*    height:100%;*/
/*    line-height:var(--menu_h);*/
    line-height:calc(var(--menu_h) - 4px);
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;
/*    font-family: verdana;*/
    font-size: 15px;
    display:inline-block;
    box-sizing:border-box;
    float:left;
/*    color:#dc6c25;*/

}


.item a:hover{
/*        opacity:0.65;*/
    color:#ca5106;
    color:#cc6d17;
    color:#e6a015;
    color:#d26716;
    color:#f37517;
    color:#dc6c25;

}


a {
    text-decoration:none;
    display: block;
    padding:0 15px;
/*    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);*/
    transition: color 0.2s ease-in-out;
    
/*    text-transform: capitalize;*/

}














