
:root{
    --menu_h: 80px;
    --bot_h: 35px;

/*    --bg:hsl(0, 0%, 60%);*/
    --bg:hsl(0, 0%, 97%);
    --bg2:hsl(0, 0%, 95%);

    
/*    --col:hsl(0, 0%, 100%);*/
    --col:hsl(0, 0%, 35%);


}

body, html{
    padding:0;
    margin:0;
    overflow:hidden;
    height:100%;
    width:100%;
}

/*body {*/
/*    height:100%;*/
/*}*/


.head{
/*    padding-top:25px;*/
    display:block;
/*    background:#637b9c;*/
    background:white;
    background:var(--bg);
/*    background:#eee;*/
/*    background:#f7f5f2;*/
/*    background:#73795e;*/
    position:relative;
    width:100%;
/*    overflow:hidden;*/
    height:var(--menu_h);
    color:black;
    color:#656565;
    color:#404040;
/*    color:var(--col);*/
/*    color:white; */
/*    color:#866644;*/
/*    border-bottom:1px solid #a2866261;*/
/*    border-bottom:1px solid #65656547;*/
    border-bottom:0.5px solid #6565658a;
/*    border-bottom:1px solid #d87107d1;*/
/*    border-bottom:1px solid #b96c2aab;*/
/*    z-index:2;*/
    position:relative;

/*    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);*/
/*    box-shadow:0 0 10px 0px rgba(0,0,0,0.15);*/
    box-shadow:0 0 10px 0px rgba(0,0,0,0.1);


/*background:#828996;*/
/*color:white;*/
    

}


.bottom{
    position:absolute;
    bottom:0;
    height:var(--bot_h);
    background:white;
    background:var(--bg2);
    width:100%;
    border-top:0.5px solid #6565658a;
/*    box-shadow:0 0 10px 0px rgba(0,0,0,0.1);*/
/*    line-height:37px;*/
    font-family: 'Josefin Slab', serif;
/*    padding:0 30px;*/
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color:#404040;
    color:black;
    color:hsl(0, 0%, 35%);
    color:var(--col);

    
/*    opacity:0.65;*/

    
    
/*        font-family: 'Scope One', serif;*/
/*        font-family: 'Pompiere', cursive;*/
/*    font-family: 'Muli', sans-serif;*/
/*    font-family: 'Waiting for the Sunrise', cursive;*/
    
/*    font-family: 'Amatic SC', cursive;*/
    
/*    background:#828996;*/
/*    color:white;*/

}

.details{
    position:absolute;
    right: 25px;
    top: 8px;
}

.number, .mail{
    color:inherit;
    display:inline-block;
}

.mail:hover, .number:hover{
    color:#d64800;
}

.icons{
    height:100%;
/*    padding:30px;*/
    position:absolute;
    top:8px;
    left:30px;
/*    line-height:38px;*/
    font-size:18px;
}
.icon{
    padding:0 5px;
    cursor:pointer;
}

.icon:hover{
/*    color:#dc6c25;*/
    color:#d64800;
}


.middle{
    position:relative;
    height:calc(100% - 80px);
    
    height:calc(100% - var(--menu_h) - var(--bot_h));

/*    background:#eee;*/
}
.album{
    position:relative;
    height:100%;
    background:hsl(0, 0%, 90%);
/*    overflow:hidden;*/
}

.picture{
    /*    width:90%;*/
    width:100%;
    height:100%;
    object-fit: cover;
    /*min-height:100%;*/
    height:100%;

/*    min-width:100%*/
/*    min-height:100%;*/
    margin:0 auto;
/*    margin-top:-200px;*/
/*    display:block;*/
    position:absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, 0);    
    opacity: 0;
/*    box-shadow:0 0 10px 0px rgba(0,0,0,0.15);*/
/*    position:relative;*/
/*    z-index:-1;*/
    transition: opacity 2s ease-in-out;
    
/*    background: url(loading.gif) 50% no-repeat;*/


}
.currentpic{
    opacity:1;
}

#menuitems{
    position:absolute;
    /*    right:10%;*/
    right:20px;
/*    height:100%;*/
    margin:0px;
    padding:0px;
    bottom:21px;
/*    top:0;*/
    font-size: 15px;

}


.name{
    cursor:pointer;
    position:absolute;
    left:30px;
    bottom:11px;
/*    height:100%;*/
/*    line-height:var(--menu_h);*/
    font-family: 'PT Sans', sans-serif;
/*    color:#2c5233;*/
/*    color:#866644;*/
/*    line-height:55px;*/
/*    line-height:calc(var(--menu_h) - 8px);*/
/*    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);*/
    transition: color 0.2s ease-in-out;
/*    display:block;*/
}

.name:hover{
    /*        opacity:0.65;*/
/*    color:#ca5106;*/
    color:#cc6d17;
    color:#e6a015;
    color:#d26716;
    color:#f37517;
    color:#dc6c25;


}


.title{
    font-family: 'Josefin Slab', serif;
/*    font-family: 'Scope One', serif;*/
/*    font-family: 'Pompiere', cursive;*/
/*font-family: 'Muli', sans-serif;*/
/*font-family: 'Waiting for the Sunrise', cursive;*/

/*font-family: 'Amatic SC', cursive;*/
/*font-family: 'Waiting for the Sunrise', cursive;*/

    letter-spacing: -1px;
    font-size: 30px;
    padding-right:15px;
}

.subtitle{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Waiting for the Sunrise', cursive;
/*    font-family: 'Amatic SC', cursive;*/

/*    line-height:50px;*/
/*    text-transform: uppercase;*/


    font-size: 20px;
    letter-spacing: 3px;
    color:#dc6c25;
/*    color:#d26622;*/
}


.item{
/*    color:#866644;*/

/*    position:relative;*/
    cursor:pointer;
    position:relative;
/*    height:100%;*/
/*    line-height:var(--menu_h);*/
/*    line-height:calc(var(--menu_h) - 4px);*/
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;
/*    font-family: verdana;*/
/*    font-size: 15px;*/
    display:inline-block;
/*    box-sizing:border-box;*/
/*    float:left;*/
/*    color:#dc6c25;*/
}


#button_block{
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    display:none;
}

#button_wrap{
    height:30px;
    width:50px;
    position:absolute;
    left:50%;
    bottom:8.5px;
    margin:auto;
    transform: translate(-50%, 0);    

}

#menubutton{

    height:50%;
    width:50%;
/*    padding:0px;*/
    overflow:visible;
    margin:15 0 0 25;
    
    stroke:#404040;
    stroke:hsl(0, 0%, 35%);
    stroke-width:1.5;
    stroke-linecap:round;
    
    transition:transform 0.3s;
    transform-origin: 0% 0%;
}

#menubutton line{
    transition:opacity 0.3s, transform 0.3s;
    vector-effect:non-scaling-stroke;
}

.rotate90{ transform: rotate(90deg); }
.opacity0{ opacity:0; }

.lineA{ transform: rotate(45deg) translate(0,7.5px) }
.lineB{ opacity:0;  }
.lineC{ transform: rotate(-45deg) translate(0,-7.5px)  }


.item a:hover{
/*        opacity:0.65;*/
    color:#ca5106;
    color:#cc6d17;
    color:#e6a015;
    color:#d26716;
    color:#f37517;
    color:#dc6c25;

}


a {
    text-decoration:none;
    display: block;
/*    padding:0 14px;*/
    transition: color 0.2s ease-in-out;
/*    text-transform: capitalize;*/
}
.head a { padding:0 14px }
.bottom a { padding:0 14px }


/*#menuitemsA{*/
/*    position:absolute;*/
/*    left:50;*/
/*    height:100%;*/
/*    margin:0px;*/
/*    padding:0px;*/
/*}*/




@media screen and (max-width: 970px) {
    
/*    :root{ --menu_h: 200px; }*/

/*    #menuitemsB{ font-size:12px }*/
    
    .head a { 
        padding:0 10px; 
    }
    
    #menuitems{
        font-size:13px;
    }

    .name {bottom:13}
    .title{ font-size:27px } 
    .subtitle{ font-size:17px } 
    
    .bottom a{ 
        padding:0 10px; 
        font-size:12px; 
    }


}


@media screen and (max-width: 840px) {
    
/*    :root{ --menu_h: 200px; }*/
    
    .name{
        text-align:center;
        position:initial;
        padding:16 0 12 0;
    }
/*    .title{ font-size:25px } */
/*    .subtitle{ font-size:15px }*/
    
    #menuitems{
        text-align:center;
        position:initial;
/*        font-size:11px;*/
    }
    
/*    .head a { padding:0 16px }*/
    
/*    .bottom a { padding:0 20px }*/

    .bottom a{ 
/*        padding:0 7px; */
/*        font-size:11px; */
    }
    .details{
        right:20;
    }
    
    .icons{
/*        top:10px;*/
/*        font-size:15px;*/
    }

    
}


@media screen and (max-width: 450px) {
    
    :root{ --menu_h: 147px; }
    :root{ --bot_h: 75px; }


    
    .head a { padding:0 8px }
    
/*    .bottom{ height:75px}*/
    
    .name{
        padding:25 0 15 0;
    }
    
    .title{ 
        font-size:34px;
        padding:0 0 3 0
    } 
    .subtitle{ font-size:22px } 
    
    .details{
        text-align:center;
        position:initial;
        padding:12 0 12 0;
    }
    
    .bottom a{ 
/*        padding:0 10px; */
        font-size:14px; 
    }
    
    .icons{
        text-align:center;
        position:initial;
/*        font-size:20px;*/
/*                padding:16 0 12 0;*/
    }
    
    .item{
        width:100%;
        height:62px;
/*        z-index:50;*/
    }
    
    #menuitems{
        position:absolute;
        bottom:0;
/*        left: 50%;*/
        width:100%;
        right:initial;
/*        transform: translate(-50%, 0); */
        font-size:16px;
        background:var(--bg);
        z-index:0;
        line-height:62px;
        padding-bottom: 10px;
    }
    
    #menu{
        transition: height 0.3s ease-in-out;
        width:100%;
/*        height:0px;*/
        position:absolute;
        top:var(--menu_h);
        overflow:hidden;
        z-index:1;
        border-bottom:0.5px solid #6565658a;
        margin:0 0 10 0;
/*        box-shadow:0 0 10px 0px rgba(0,0,0,0.1);*/
    }
    
    .menu_open{ height:320px; }
    .menu_closed{ height:0px; }
    
    
    
    #button_block{
        display:block;
    }
    
    
    .title, .subtitle{
        display:block;
    }
    
    .item:not(:last-child):after {
        
        /*    .item:after {*/
        content: "";
        background: hsl(0, 0%, 90%);
        position: absolute;
        bottom:-1px;
        height: 1px;
        /*        left: 20px; width: calc(100% - 40px);*/
        width: 110px; left: calc(50% - 55px);
        /*        width: 30px; left: calc(50% - 15px);*/
        
    }

}





@media screen and (max-width: 350px) {
    
    .item{
        height:45px;
        /*        z-index:50;*/
    }

    #menuitems{
        line-height:45px;
    }
    
    .menu_open{ 
        height:235px;
    /*    overflow: auto; */
    /*    display: block;*/
    /*    overflow: auto;*/
    }
}








